<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MFU Election Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/Admin2/admin.css">
</head>

<body class="bg-gray-50">

    <div class="flex h-screen overflow-hidden">
        <aside class="sidebar w-64 text-white flex-shrink-0 flex flex-col h-full">
            <div class="p-6 text-center">
                <h1 class="text-2xl font-bold mfu-gold">MFU E-VOTING</h1>
                <p class="text-xs opacity-80 mt-1">Admin Control Panel</p>
            </div>
            <nav class="mt-8 flex flex-col flex-1">
                <a href="/AdminNew/views/Index.html" id="menu-index" class="nav-item active">Index</a>
                <a href="/AdminNew/views/Dashboard.html" id="menu-dashboards" class="nav-item">Dashboard</a>
                <a href="/AdminNew/views/Voting.html" id="menu-voters" class="nav-item">Voter Management</a>
                <a href="/AdminNew/views/Candidates.html" id="menu-candidates" class="nav-item">Candidate Management</a>
                <button id="logout-Btn" class="nav-item mt-auto">logout</button>
            </nav>
        </aside>

        <main class="flex-1 overflow-y-auto p-8 bg-gray-50">
            
        </main>

    </div>

    <script src="/Admin2/admin.js"></script>
</body>

</html>